@import './common/common.styl'

.app
  height 100%
  padding 20px
.clearleft
	clear left
.width-auto
	width
	min-width
.opacity-09
	opacity 0.9
.align-center
  text-align center
.display-inline-block
  display inline-block
